.fumenbox {
        margin: 0px;
        padding: 0px;
}

.fumencode {
        width: 100%;
        border-radius: 4px;
        padding: 10px;
        font-size: 14px;
        font-family: 'Courier New', Courier, monospace;
        resize: vertical;
}
.score_area {
        text-align: center;
        background-color: lightgray;
        padding: 10px;
        box-shadow:0px 0px 8px 3px #ccc inset;
}